// Imports
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

// Variables
$colMain: #2FF;
$aMargin: 0px 22px 0px 0px;

html, body {
	background-color: #999;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	padding: 12px;
}

a {
	text-decoration: none;
}

nav {
	a {
		color: $colMain;
		margin: $aMargin;
		font-family: 'Major Mono Display', monospace;
		font-weight: bold;
		font-size: 20px;
	}
}

footer {
	display: block;

	a {
		color: $colMain;
		margin: $aMargin;
		font-family: 'Roboto Mono', monospace;
		font-weight: 500;
		font-size: 20px;
	}
}
